---
const { config, svgAsset } = Astro.props;
const email = Buffer.from(config.email).toString("base64");
---

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const emailLink = document.getElementById("email-link");
        const emailText = document.getElementById("email-text");
        if (!emailLink || !emailText) return;
        const base64Email = emailText.getAttribute("data-email");
        if (!base64Email) return;

        emailText.innerHTML = window.atob(base64Email);
        // @ts-ignore
        emailLink.href = `mailto:${window.atob(base64Email)}`;
    });
</script>
<div class="w-full md:w-[40rem] lg:w-[44rem] 2xl:w-[48rem] mx-auto">
    <div
        id="profile"
        class="flex flex-col-reverse mt-0 mx-6 md:mx-0 md:flex-row text-gainsboro justify-between"
    >
        <div>
            <h1 class="text-3xl sm:my-2 md:text-4xl leading-relaxed">
                {config.name.base}
                <span class="font-sans text-base md:text-xl"
                    >{config.name.note}</span
                >
            </h1>
            <p
                class="font-light text-sm 2xl:text-lg sm:text-base 2xl:leading-loose"
            >
                {config.desc}
            </p>
        </div>
        <img
            class="w-20 border border-l-sliverSand sm:w-24 2xl:w-[6.5rem] my-2 rounded-full"
            src={config.avatar}
            alt={config.name.base}
        />
    </div>
    <a
        id="email-link"
        class="mx-auto mt-16 sm:mt-24 2xl:mt-32 flex w-fit border border-[#080808] rounded-full p-4 bg-[#434343]"
    >
        <img src={svgAsset["mail"]} class="mr-4" />
        <p class="text-gainsboro" id="email-text" data-email={email}></p>
    </a>
</div>
