---
import PartOne from "../components/PartOne/PartOne.astro";
import PartTwo from "../components/PartTwo/PartTwo.astro";

import { loadAllSvgs, loadConfig, adjustColor } from "../compile_utils.js";
import "../style.css";

const config = loadConfig();
const svgs = loadAllSvgs();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="referrer" content="same-origin" />
		<title>Wincer</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-bgc-dark font-round">
		<PartOne config={config} svgAsset={svgs} />
		<PartTwo config={config} svgAsset={svgs} />
	</body>
</html>
