---
const { config, svgAsset } = Astro.props;
const email = Buffer.from(config.email).toString("base64");
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailLink = document.getElementById("email-link");
    const emailText = document.getElementById("email-text");
    const base64Email = emailText.getAttribute("data-email");
    emailText.innerHTML = atob(base64Email);
    emailLink.href = `mailto:${atob(base64Email)}`;
  });
</script>
<div
  class="w-full md:w-[40rem] leading-relaxed mx-auto my-12 2xl:my-20 flex-grow"
>
  <div
    class="flex flex-col-reverse mx-6 sm:mx-0 md:flex-row text-title-dark justify-between"
  >
    <div>
      <h1 class="text-3xl my-2 md:text-4xl">
        {config.name.base}
        <span class="font-sans md:text-xl">{config.name.note}</span>
      </h1>
      <p class="font-light">{config.desc}</p>
    </div>
    <img class="h-24 w-24 rounded-full" src={config.avatar} alt="" />
  </div>
  <a
    id="email-link"
    class="mx-auto mt-24 2xl:mt-32 flex w-fit border-[#1A94BC] rounded-full p-4 bg-[#4cc6ee19]"
  >
    <img src={svgAsset["mail"]} class="mr-4" />
    <p class="text-title-dark" id="email-text" data-email={email}></p>
  </a>
</div>
